<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <title>{% block page_title %}Chess{% endblock %}</title>
        <meta name="description" content="Andrew Seaman's personal website">
        <meta name="author" content="Andrew Seaman">

        <link rel="icon" type="image/ico" href="/img/favicon.ico"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>

        {% block include_js %}{% endblock %}
    </body>
</html>
